<div class="game_form">
	<%= form_tag "/throw" do %>
		<% throws = ["Rock", "Paper", "Scissors"] %>
		<%= label('Throw', 'Your Throw') %>
		<%= select(:sign, options_for_select(throws), throws)  %>
		<%= submit_tag("Throw") %>
	<% end %>
</div>
