<!DOCTYPE html>
<html>
<head>
  <title>Rock Paper Scissors :: A Simple Game</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<h1>Welcome to Rock Paper Scissors</h1>
	<%= yield %>

</body>
</html>
